:root {
    --sofia: 'Sofia Pro';
    --raleway: 'Raleway', sans-serif;
    --black: #000;
    --white: #fff;
    --orange: #FF9016;
    --bodybg: #090A13;
    --tabwall: #25262E;
    --bgNav: rgb(7, 7, 7);
    --bgNavMob: rgb(7, 7, 7);
    --formInput: #292E33;
}
html { -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -o-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -moz-text-rendering: optimizelegibility; text-rendering: optimizelegibility; }
*, :after, :before { -webkit-box-sizing: inherit; box-sizing: inherit; }
.h1, .h2, .h3, .h4, .h5, .h6, body, h1, h2, h3, h4, h5, h6, ol, p, ul { margin: 0; padding: 0; font-weight: normal; }
body { font-size: 1rem; background: var(--bodybg); font-family: var(--sofia); font-weight: normal; color: var(--black); }
input { outline: none; }
a, button { outline: none !important; text-decoration: none; }
a:active, a:visited, a:focus, a:hover, button:active, button:visited, button:focus, button:hover { text-decoration: none; }
.wide { display: block; width: 100%; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: var(--sofia); font-weight: 600; }
p { font-size: 1rem; line-height: 22px; color: var(--white); font-weight: 300; margin-bottom: 20px; font-family: var(--raleway); }
p:last-child { margin-bottom: 0; }


/* typo */
h1 {
    font-size: 45px;
    line-height: 55px;
    letter-spacing: -1.125px;
    color: var(--white);
}
.h1 {
    font-size: 65px;
    line-height: 80px;
    letter-spacing: -1.625px;
    color: var(--white);
    margin-bottom: 20px;
}
h2, .h2 {
    font-size: 35px;
    line-height: 43px;
    letter-spacing: -0.875px;
    color: var(--white);
}
h4, .h4 {
    font-size: 25px;
    line-height: 31px;
    letter-spacing: -0.625px;
    color: var(--white);
    margin-bottom: 6px;
}
/* buttons */
.btn-global {
    background-color: var(--orange);
    color: var(--white);
    font-size: 14px;
    line-height: normal;
    padding: 9px 28px;
    letter-spacing: -0.35px;
    font-weight: 500;
    border-radius: 4px;
}
.btn-global:hover {
    background-color: var(--white);
    color: var(--orange);
}
.btn-global.with-icon {
    font-size: 20px;
    min-width: 176px;
    padding: 12px 15px;
}
.d-table .btn-global.with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*  */
.btn-border-glob {
    border: 2px solid var(--orange);
    color: var(--white);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
}
.btn-border-glob:hover {
    background-color: var(--orange);
    color: var(--white);
}
.btn-border-glob .icon-play {
    font-size: 18px;
}
.icon-play {
    font-size: 30px;
    margin-right: 8px;
}
.under-desh {
    position: relative;
    padding-bottom: 10px;
}
.under-desh::after {
    content: '';
    width: 53px;
    height: 5px;
    background-color: var(--orange);
    position: absolute;
    left: 0;
    bottom: 0;
}
/*  */
.shadow-video {
    position: relative;
    cursor: pointer;
}
.shadow-video::before {
    content: none;
    background-color: var(--bodybg);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transition: all 0.3s ease-in;
}
.shadow-video:hover::before {
    opacity: 0.65;
}

/*  */
.form-control:focus {
    border-color: var(--white);
    box-shadow: none;
}


/* responsive */
@media(min-width: 1200px) {
    .container-xl {
        max-width: 100%;
    }
}
@media(min-width: 1400px) {
    .container-xl {
        max-width: 1366px;
    }
}
@media(max-width: 1800px) {
    .h1 {
        font-size: 55px;
        line-height: 57px;
        letter-spacing: 0;
        padding-bottom: 10px;
    }
}
@media(max-width: 1440px) {
    .h1 {
        font-size: 40px;
        line-height: 47px;
    }
}
@media(max-width: 767px) {
    h4 {
        font-size: 20px;
        letter-spacing: -0.5px;
        line-height: 25px;
    }
    h1 {
        font-size: 40px;
        letter-spacing: -1px;
        line-height: 46px;
    }
    .h1 {
        font-size: 30px;
        line-height: 37px;
        letter-spacing: -0.75px;
    }
    h2 {
        font-size: 30px;
        line-height: 37px;
        letter-spacing: -0.75px;
    }
    .btn-global.with-icon {
        font-size: 14px;
        letter-spacing: -0.35px;
        min-width: 126px;
        padding: 7px 15px;
        border-radius: 8px;
    }
    .icon-play { font-size: 22px; }
}
@media (max-width: 375px) {
    h2 {
        font-size: 26px;
        line-height: 30px;
    }
}
@media (max-width: 375px) {
    h1 {
        font-size: 32px;
        line-height: 42px;
    }
}