// Roots
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap'); 
$primary: #1f2327;
$secondary: #1b1f21; 
$ternary: #ff9016;
$white: #ffffff;
$black: #000000;
$input-bg: #292E33;
// $dark: #1A2721;
$background-main: #F6F6F6;
$light-main: #FEFEFE;
$half-dark: #707070;
$form-bg: #F3F3F3;
$sofia: 'Sofia Pro';
$montserrat: 'Montserrat', sans-serif;
// $graphik-font: 'Graphik';